.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.image img {
    width: 200px;
    height: 200px;
}
.car {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}
.title {
    font-size: 15px;
}
.kanat {
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}